    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row top-block">
                <div class="col-12 col-md-6 about">
                    <img class="img-responsive profile" src="/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.description }}</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 i-helped">
                  <div class="i-helped-title">I contributed to</div>
                  <div class="i-helped-item"><b>8.9%</b> increase in the annual revenue for a gaming startup</div>
                  <div class="i-helped-item"><b>2</b> rounds of venture funding for an AI startup</div>
                  <div class="i-helped-item"><b>M&amp;A</b> of a drone-tech startup</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="slider-pages">
                      <article class="js-scrolling__page js-scrolling--active js-scrolling__page-1">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                               <p class="slider-page__description">
                                  I enjoy code-as-craft and getting to tap into my deep knowledge resources when it comes to making systems talk and work together to solve real-world business problems.
                               </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I am a maker at heart, I build all the time, always learning and exploring as I go.
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>

                      <article class="js-scrolling__page js-scrolling__page-2">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I am someone who impulsively thinks first about the business reasons why something should or shouldn’t be done, and I have expectations of contributing those insights as part of a successful team.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                My idea of a good time is coding up an idea from scratch, and using the exercise as both the exploration of a solid solution to a real-world problem, as well as an opportunity to explore new approaches to my craft, knowing I'll soon have the opportunity to use the knowledge I gained.
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>

                      <article class="js-scrolling__page js-scrolling__page-3">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                               I appreciate stable code, but at the same time I have a strong pull to innovate new ideas and roadmap exciting new feature developments, and not merely maintain and incrementally improve a relatively static code base.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                Given the choice, I want to architect greatness, even if it takes me all night.
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>

                      <article class="js-scrolling__page js-scrolling__page-4">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I own who I am and what I do, and I do hard things. My favorite phrases are “Now that’s an interesting problem I want to understand better” and “Challenge accepted!”
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                To me, a good day is jumping from javascript to database to application to API to product meeting and back again, because I can, and it’s just no fun unless I have my hands in every aspect of a project.
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>
                      
                      <article class="js-scrolling__page js-scrolling__page-5">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I understand that greatness sometimes has to be explained to be appreciated, so I have good technical translation skills, write semantically, test pragmatically, and document adequately for the team members who come behind me. 
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I don’t mind working with non-technical founders, as long as they’re smart, act interested, try to keep up, and give me space to fully use what I know.
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>
                      
                      <article class="js-scrolling__page js-scrolling__page-6">
                        <div class="slider-page slider-page--left">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                I work well on my own, and manage myself and my projects as a matter of pride.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="slider-page slider-page--right">
                          <div class="slider-page--skew">
                            <div class="slider-page__content">
                              <p class="slider-page__description">
                                <a class="slider-page__link" href="mailto:soon.nerd@gmail.com">Let's work together!</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </article>

                    </section>
                </div>
            </div>
        </div>
    </header>
<!--
<span class="fire">J</span><span class="burn">a</span><span class="fire">y</span>&nbsp;<span class="fire">L</span><span class="burn">i</span><span class="fire">u</span>
-->